{% extends 'temp/admin.html' %}
{% block base %}
<html>
    <head><title></title></head>
    <body>
        <h2 align="center">Post reply</h2>
        <form method="post">
            {% csrf_token %}
        <table align="center">
          
            <tr>
                <td>reply</td>
                <td><input type="text" name="repl"</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="btn" value="post"</td>
            </tr>

        </table>
        </form>
    </body>
</html>
{% endblock %}